<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/steff.css">
    <title>Quiz selection</title>
</head>

<body>
    <header>
        <nav class="navbar bg-body-tertiary ">
            <section class="container-fluid navsectie1">
                <a href="#">
                    <img src="assets\images\Afbeelding van WhatsApp op 2024-02-25 om 18.15.40_556aabbb.jpg" alt=""
                        class="navbar-brand" width="auto" height="100px">
                </a>
                <a class="navbar-brand" href="#">Gandalf's Gambit</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gandalf's Gambit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    QuizzModes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Sudden Death</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">10-Rounds</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Gandalf's looking..."
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </section>
        </nav>
    </header>
    <main class="container-fluid" id="select">
        <h1 class="text-center mt-3 mb-5 heading">Maak een keuze</h1>
        <section class="row mb-3 d-flex justify-content-evenly" id="flexcontainer">
            <section class="col-sm-10 col-lg-4 col-md-5 text-center card mb-5 bg-light">
                <a href="../quizz-10-rounds.html"><img src="/assets/images/sudden-death/lotr-sudden-death-back.gif" alt="" id="selection-img"
                        class="img-fluid my-2 card-img">
                    <div class="card-img-overlay">
                        <h1 class="card-title text-warning text">Ten Rounds</h1>
                    </div>
                </a>
                <p class="card-text card-body text-warning">
                    Deze uitdaging test je kennis van de meest gedenkwaardige dialogen uit de epische filmtrilogie. Van
                    de zoektocht naar de Ene Ring tot de heldhaftige strijd tegen Sauron's duisternis, herbeleef de
                    iconische momenten en test je kennis! Veel succes!</p>
            </section>
            <section class="col-sm-10 col-lg-4 col-md-5 text-center card mb-5">
                <a href="/pages/quizz-sudden-death.html">
                    <img src="/assets/images/sudden-death/lotr-sudden-death-back.gif" alt="lol" id="selection-img"
                        width="200px" height="180px" class="img-fluid my-2 card-img">
                    <div class=" card-img-overlay">
                        <h1 class=" card-title text-warning text">Sudden Death</h1>
                    </div>
                </a>
                <p class=" card-text card-body text-warning">Bereid je voor op een uitdagende modus waarbij
                    één fout je
                    lot
                    bezegelt! Test je kennis van de meest gedenkwaardige dialogen uit de epische filmtrilogie.
                    Overleef
                    de strijd tegen Sauron's duisternis en wees voorbereid - één verkeerde stap en het is game over!
                    Succes!</p>
            </section>
        </section>

    </main>
    <footer class="py-2 d-flex align-items-center justify-content-evenly" id="footer-style">
        <p class="ms-3 my-2 text-center">&copy 2024 Fellowship Of The Code</p>
        <ul class="list-unstyled nav justify-content-center" id="list">
            <li class="nav-item"><a href="" class="nav-link px-2 img-fluid bi bi-instagram fs-4"></a></li>
            <li class="nav-item"><a href="" class="nav-link px-2 img-fluid bi bi-twitter fs-4"></a></li>
            <li class="nav-item"><a href="" class="nav-link px-2 bi bi-facebook fs-4">
                </a></li>
            <li class="nav-item"><a href="" class="nav-link px-2 bi bi-github fs-4"></a></li>
        </ul>
    </footer>
</body>

</html>