
header {
    grid-area: header;
    width: 100%;
    position: relative;
}

.navsectie1 {
    background-color: bisque;
    padding: 2px 4px;
}

.navbar {
    background-color: transparent !important;
    margin-top: 0;
    padding: 0px 4px;
}

