.quizzNav {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  flex-wrap: wrap;
}
.quizzAnswers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.quizzContainer * {
  background: none;

}
.quizzContainer {
  background-image: url(/assets/images/10rounds/QuestionOne.jpg);
  background-size: cover;
  background-position: center;
  
  margin: 2rem 0;
  
}
.biggerCard {
  min-height: 240px;
}
.quizzBody {
  background-color: rgba(53, 53, 38, 0.469);
}

.maxWidth {
  width: 100%;
  display: flex;
  margin: auto;
  padding: auto;
  justify-content: space-between;
}

@media screen and (max-width: 600px){
   .quizzAnswers {
    flex-direction: column;
   }
}