

.quizzContainer * {
  background: none;

}

.quizzNav {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  padding-bottom: 0rem;
  background-color: rgba(245, 245, 220, 0.616);
  align-items: center;
  border-radius: 28px 28px 0px 0px;
  background-color: beige;
}
.quizzNav > section {
  border-bottom: 2px solid grey;
  text-align: center;
  padding: 0.4rem ;
  
  font-size: 1.2rem;
  text-decoration: 2px underline;
}
.quizzAnswers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0rem 1rem;

}
.quizzAnswers input:hover, .quizzAnswers label:hover {
  background-color:green ;
}

.actorLabel:hover, .movieLabel:hover {
  background-color: green!important;
}




.quizzContainer {
  background-image: url(/assets/images/10rounds/QuestionOne.jpg);
  background-size: cover;
  background-position: center;  
  margin: 2rem 0;
  padding: 0px;
  margin: 2rem auto;
  border: 4px ridge white;
  border-radius: 32px;

}
.biggerCard {
  padding: 2rem 1rem;
  margin: 4rem auto;
  border: 2px solid black;
  width: 80%;
  border-radius: 32px;
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.562);
}
.quizzBody {
  background-color: rgba(53, 53, 38, 0.469);
}

.maxWidth {
  width: 100%;
  display: flex;
  margin: auto;
  padding: auto;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.651);
}
.backGroundRadio{
  background-color: rgba(255, 0, 0, 0.644);
}

.submitButton {
  border-radius: 0 0 28px 28px!important;
  margin-top: 0.4rem;
}

@media screen and (max-width: 600px){
   .quizzAnswers {
    flex-direction: column;
    margin: auto;
    padding: auto;
   }
}