body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
        "main"
        "footer"
    ;
    background-image: url("/assets/images/background-page/background-body.png");
    background-position: center;
    background-size: cover;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
}

#footer-style {
    background-color: #fcecbba1;
}

#select {
    grid-area: main;

}

header {
    grid-area: header;
}

.text {
    padding-top: 0.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);

}

.card-img-overlay {
    padding: 0;
    padding-left: inherit;
    padding-right: inherit;
}

#footer-style {
    grid-area: footer;
}

.card-title,
.heading {
    font-family: 'MiddleEarth';
}

.nav-item {
    opacity: 0.7;
    transition: 1s;
}

.nav-item:hover {
    opacity: 1;
    transition: 1s;
}

.bi {
    color: black;
}

.biggerCardBlacklist>ul>li {
    border-bottom: 2px solid black;
    padding: 0.4rem 2rem;
    margin-bottom: 0;
    position: relative;
}

.bi-trash {
    position: absolute;
    right: 20px;
}

ul {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    overflow: hidden;
}

.biggerCardBlacklist>ul>li:last-of-type {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

.biggerCardBlacklist {
    margin: 4rem auto;
    border: 2px solid black;
    width: 85%;
    border-radius: 32px;
    display: flex;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.562) !important;
}

@media screen and (max-width: 600px) {
    .col-sm-10 {
        width: 80%;
    }
}

@font-face {
    font-family: 'MiddleEarth';
    src: url('../assets/fonts/MiddleEarthPersonalUseRegular-axlP5.otf');
}