body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
        "main"
        "footer"
    ;
    background-image: url("/assets/images/background-page/background-body.png");
    background-position: center;
    background-size: cover;
}

#card2,
#card1 {
    background-color: rgba(0, 0, 0, 0.75);
}

#footer-style {
    background-color: #fcecbba1;
}

#select {
    grid-area: main;

}

header {
    grid-area: header;
}

.text {
    padding-top: 0.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);

}

.card-img-overlay {
    padding: 0;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
}

#footer-style {
    grid-area: footer;
}

.card-title,
.heading {
    font-family: 'MiddleEarth';
}

.nav-item {
    opacity: 0.7;
    transition: 1s;
}

.nav-item:hover {
    opacity: 1;
    transition: 1s;
}

.bi {
    color: black;
}


@media screen and (max-width: 600px) {
    .col-sm-10 {
        width: 80%;
    }
}

@font-face {
    font-family: 'MiddleEarth';
    src: url('../assets/fonts/MiddleEarthPersonalUseRegular-axlP5.otf');
}