<footer id="footer-style" class="page-footer py-3 font-small text-center">
    <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg" href="#!">
      <i class="bi bi-twitter-x text-dark"></i>
    </a>

    <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg" href="#!">
      <i class="bi bi-facebook text-dark"></i>
    </a>

    <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg" href="#!">
      <i class="bi bi-github text-dark"></i>
    </a>

    <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg" href="#!">
      <i class="bi bi-linkedin text-dark"></i>
    </a>

    <article class="text-center py-1 text-dark">
      <p class="mb-0">© 2024 Fellowship of the Code</p>
    </article>
  </footer>
</body>
</html>