<footer class="py-2" id="footer-style">
  <ul class="list-unstyled nav justify-content-center" id="list">
      <li class="nav-item"><a href="" class="nav-link px-2 img-fluid bi bi-instagram fs-4"></a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 img-fluid bi bi-twitter fs-4"></a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 bi bi-facebook fs-4">
          </a></li>
      <li class="nav-item"><a href="" class="nav-link px-2 bi bi-github fs-4"></a></li>
  </ul>
  <p class="border-bottom border-light mx-5 opacity-25 my-2"></p>
  <p class="ms-3 my-2 text-center">&copy 2024 Fellowship Of The Code</p>
</footer>
</body>
</html>