<!DOCTYPE html>
<html lang="nl-BE">

<%- include("partials/header") %>

    <main class="container-fluid quizzMain">
        <section class="row">
            <section class="col-sm-0 col-lg-2 col-md-1">
            </section>

            <section class="col-sm-12 col-lg-8 col-md-10 ">
                <section class="quizzContainer">
                    <section class="quizzNav container-fluid">
                        <h1 class="mx-auto" style="font-size: 1.6rem; padding-top: 8px;">Blacklist</h1>
                    </section>
                    <section class="card biggerCardBlacklist align-items-center">

                        <ul class="list-unstyled">
                            <li class="my-2">
                                <blockquote class="my-0">A wizard is never late, Frodo Baggins. Nor is he
                                    early. He arrives
                                    precisely when he means to.</blockquote>
                                <cite>- Gandalf</cite>
                                <span class="bi bi-trash"></span>
                            </li>
                            <li class="my-2">
                                <blockquote class="my-0">“He that breaks a thing to find out what it is, has left
                                    the
                                    path of
                                    wisdom.”</blockquote>
                                <cite>Gandalf</cite>
                                <span class="bi bi-trash"></span>
                            </li>
                            <li class="my-2">
                                <blockquote class="my-0">“When in doubt, follow your nose.”</blockquote>
                                <cite>Gandalf</cite>
                                <span class="bi bi-trash"></span>
                            </li>
                            <li class="my-2">
                                <blockquote class="my-0">“Death is just another path, one that we all must take.”
                                </blockquote>
                                <cite>Gandalf</cite>
                                <span class="bi bi-trash"></span>
                            </li>
                        </ul>

                    </section>


                </section>

                <section class="col-sm-0 col-lg-2 col-md-1">



                </section>
                <section class="col-sm-0 col-lg-2 col-md-1"></section>
            </section>

    </main>
    </body>


    <%- include("partials/footer") %>

</html>