<!DOCTYPE html>
<html lang="nl-BE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <script defer src="assets/js/bootstrap.bundle.min.js"></script>
  <script defer src="assets/js/popper.min.js"></script>
  <script defer src="assets/js/landingpage.js"></script>
  <title>Landingspagina</title>
</head>
<body class="landing-body">

  <header class="container-fluid d-flex justify-content-center align-items-center">
    <nav>
      <h1 class="landing-title pt-4 my-3">Fellowship of the Code</h1>
    </nav>
  </header>

  <main class="container-fluid">
    <section class="row gy-3 gx-3 py-4">

      <!-- eerste afbeelding -->
      <article class="col-sm-12 col-md-6 col-lg-4">
        <div class="bg-body-tertiary py-4 px-4 border rounded border-dark">
          <section class="card shadow-sm">
            <figure class="game-container" onmouseover="playVideo(1)" onmouseout="pauseVideo(1)">
              <img src="assets/images/landingpage/football-hd-3rdrqmypvpirwd6z.jpg" class="card-img-top game-img" alt="Game Image">
              <video id="video-1" class="game-video rounded" loop muted>
                <source src="assets/images/landingpage/fifavideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
            <section class="card-body">
              <h2 class="landing-card-title card-title text-center">Fifa</h2>
              <p class="landing-card-text card-text">
                FIFA is een populaire voetbalvideogame-serie van EA Sports, bekend om realistische gameplay en jaarlijkse updates.
              </p>
              <button id="profileButton" type="button" class="btn bg-body-tertiary border-dark d-block mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                aanmelden
              </button>
            </section>
          </section>
        </div>
      </article>

      <!-- tweede afbeelding -->
      <article class="col-sm-12 col-md-6 col-lg-4">
        <div class="bg-body-tertiary py-4 px-4 rounded border border-dark">
          <section class="card shadow-sm">
            <figure class="game-container" onmouseover="playVideo(2)" onmouseout="pauseVideo(2)">
              <img src="assets/images/landingpage/Fortnite-Og-Battle-Pass-Skins-4K-Wallpaper-jpg.webp" class="card-img-top game-img" alt="Game Image">
              <video id="video-2" class="game-video rounded" loop muted>
                <source src="assets/images/landingpage/fortnitevid.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
            <section class="card-body">
              <h2 class="landing-card-title card-title text-center">Fortnite</h2>
              <p class="landing-card-text card-text">
                Fortnite is een populaire 'battle royale' game met constante updates en een creatieve modus voor het bouwen van werelden.
              </p>
              <button id="profileButton" type="button" class="btn bg-body-tertiary border-dark d-block mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                aanmelden
              </button>
            </section>
          </section>
        </div>
      </article>

      <!-- derde afbeelding -->
      <article class="col-sm-12 col-md-6 col-lg-4">
        <div class="bg-body-tertiary py-4 px-4 rounded border border-dark">
          <section class="card shadow-sm">
            <figure class="game-container" onmouseover="playVideo(3)" onmouseout="pauseVideo(3)">
              <img src="assets/images/landingpage/476260.jpg" class="card-img-top game-img" alt="Game Image">
              <video id="video-3" class="game-video rounded" loop muted>
                <source src="assets/images/landingpage/legomastersvideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
            <section class="card-body">
              <h2 class="landing-card-title card-title text-center">Lego Masters</h2>
              <p class="landing-card-text card-text">
                LEGO Masters is een reality-tv-programma waarin bouwers concurreren om de beste LEGO-kunstwerken te maken.
                
              </p>
              <button id="profileButton" type="button" class="btn bg-body-tertiary border-dark d-block mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                aanmelden
              </button>
            </section>
          </section>
        </div>
      </article>

      <!-- vierde afbeelding -->
      <article class="col-sm-12 col-md-6 col-lg-4">
        <div class="bg-body-tertiary py-4 px-4 rounded border border-dark">
          <section class="card shadow-sm">
            <figure class="game-container" onmouseover="playVideo(4)" onmouseout="pauseVideo(4)">
              <img src="assets/images/landingpage/137227-3840x2160-desktop-4k-the-lord-of-the-rings-background-image.jpg" class="card-img-top game-img" alt="Game Image">
              <video id="video-4" class="game-video rounded" loop muted>
                <source src="assets/images/landingpage/lotrvideonew.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
            <section class="card-body">
              <h2 class="landing-card-title card-title text-center">Lord of the Rings</h2>
              <p class="landing-card-text card-text">
                Lord of the Rings is een episch fantasy-verhaal van J.R.R. Tolkien, met avonturen in de fictieve wereld van Midden-aarde.
              </p>
              <button onclick="handleLogin()" id="profileButton" type="button" class="btn bg-body-tertiary border-dark d-block mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                <a href="selection">Aanmelden</a>
              </button>
            </section>
          </section>
        </div>
      </article>

      <!-- vijfde afbeelding -->
      <article class="col-sm-12 col-md-6 col-lg-4">
        <div class="bg-body-tertiary py-4 px-4 rounded border border-dark">
          <section class="card shadow-sm">
            <figure class="game-container" onmouseover="playVideo(5)" onmouseout="pauseVideo(5)">
              <img src="assets/images/landingpage/1920x1080_px_magic_the_gathering-1307305.jpg!d" class="card-img-top game-img" alt="Game Image">
              <video id="video-5" class="game-video rounded" loop muted>
                <source src="assets/images/landingpage/mtgvideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
            <section class="card-body">
              <h2 class="landing-card-title card-title text-center">Magic: The Gathering</h2>
              <p class="landing-card-text card-text">
                Magic The Gathering is een iconisch verzamelbaar kaartspel met diepgaande strategieën en een uitgebreide lore.
              </p>
              <button id="profileButton" type="button" class="btn bg-body-tertiary border-dark d-block mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                aanmelden
              </button>
            </section>
          </section>
        </div>
      </article>

      <!-- zesde afbeelding -->
      <article class="col-sm-12 col-md-6 col-lg-4">
        <div class="bg-body-tertiary py-4 px-4 rounded border border-dark">
          <section class="card shadow-sm">
            <figure class="game-container" onmouseover="playVideo(6)" onmouseout="pauseVideo(6)">
              <img src="assets/images/landingpage/1339449.png" class="card-img-top game-img" alt="Game Image">
              <video id="video-6" class="game-video rounded" loop muted>
                <source src="assets/images/landingpage/pokemonvideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </figure>
            <section class="card-body">
              <h2 class="landing-card-title card-title text-center">Pokemon</h2>
              <p class="landing-card-text card-text">
                Pokémon is een wereldberoemde franchise met games, animatieseries en kaartspellen waarin spelers Pokémons vangen.
              </p>
              <button id="profileButton" type="button" class="btn bg-body-tertiary border-dark d-block mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal">
                aanmelden
              </button>
            </section>
          </section>
        </div>
      </article>

    </section>
  </main>


<!---footer--->
<div>
  <svg class="waves pt-4" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(248,249,250,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(248,249,250,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(33, 37, 41, 0.1)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(33, 37, 41)" />
      </g>
  </svg>
</div>

<footer class="page-footer pt-4 font-small unique-color-dark text-center">
  <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light" href="#!">
    <i class="fab fa-twitter"></i>
  </a>

  <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light" href="#!">
    <i class="fab fa-facebook-f"></i>
  </a>

  <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light" href="#!">
    <i class="fab fa-github"></i>
  </a>

  <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-light" href="#!">
    <i class="fab fa-linkedin-in"></i>
  </a>

  <article class="text-center py-1 text-light">
    <p>© 2024 Fellowship of the Code</p>
  </article>
</footer>


<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <!-- login formulier -->
        <form action="/login" method="post" id="loginForm">
          <div class="mb-3">
            <label for="loginEmail" class="form-label">e-mailadres<span class="required">*</span></label>
            <input name="loginEmail" type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3 position-relative">
            <label for="loginPassword" class="form-label">wachtwoord<span class="required">*</span></label>
            <div class="input-group">
                <input name="loginPassword" type="password" class="form-control rounded" id="loginPassword" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="bi bi-eye-slash"></i>
                </button>
            </div>
            <p><%= message %></p>
          </div>

          <div class="d-flex justify-content-between">
            <div class="mb-3">
              <!-- <input type="checkbox" class="form-check-input" id="rememberMe">
              <label class="form-check-label" for="rememberMe">onthoud mij</label> -->
              <button type="submit" class="btn bg-body-tertiary border-dark mb-1">aanmelden</button>
            </div>
            <a href="#" class="text-decoration-none">wachtwoord vergeten?</a>
          </div>
    
          <div id="loginError" class="mt-2 text-danger" style="display: none;"></div>
            <p style="margin: 0;">nog geen account? 
              <span id="showCreateAccountBtn" class="btn-link" style="cursor: pointer;">account aanmaken</span></p>
        </form>
        
        <!-- account aanmaken formulier -->
        <form action="/register" method="post" id="createAccountForm" style="display: none;">
          <section class="mb-3">
            <label for="signupEmail" class="form-label">e-mailadres<span class="required">*</span></label>
            <input name="signupEmail" type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" required>
          </section>

          <section class="mb-3">
            <label for="signupPassword" class="form-label">wachtwoord<span class="required">*</span></label>
            <section class="input-group">
              <input name="signupPassword" type="password" class="form-control rounded" id="signupPassword" required>
              <button class="btn btn-outline-secondary" type="button" id="toggleSignupPassword">
                <i class="bi bi-eye-slash"></i>
              </button>
            </section>

              <section id="passwordStrength" class="text-muted mb-1" style="font-size: 0.8rem;">wachtwoordsterkte: 
                <span id="strengthLabel"></span></section>

              <section class="progress mb-3">
                <section id="strengthBar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></section>
              </section>

              <section id="strengthLabel" class="form-text text-muted"></section>

              <label for="repeatPassword" class="form-label">herhaal wachtwoord<span class="required">*</span></label>
              <section class="input-group">
                <input name="repeatPassword" type="password" class="form-control rounded" id="repeatPassword" required>

                <button class="btn btn-outline-secondary" type="button" id="toggleRepeatPassword">
                  <i class="bi bi-eye-slash"></i>
                </button>

              </section>
            </section>

            <section id="passwordMatch" class="text-danger mb-2" style="display: none;">
              wachtwoorden komen niet overeen.
            </section>

            <p class="tos">Door een account aan te maken, ga je akkoord met de verwerking van je persoonlijke gegevens in overeenstemming met onze <a href="#">privacyverklaring</a>.</p>
            
            <button type="submit" class="btn bg-body-tertiary border-dark mb-3 SignupBtn">account aanmaken</button>
            <p style="margin: 0;">terug naar 
              <span id="backToLoginBtn" class="btn-link" style="cursor: pointer;">aanmelden</span></p>
          </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>