<%- include ("partials/header") %>

  <main class="quizzMain">



    <section class="col-sm-12 col-lg-8 col-md-10 my-5">
      <section class="quizzContainer quizzResultSD">
        <section class="quizzNav container-fluid resultNav" >
          <h1>Je resultaat van de Quiz!</h1>

        </section>

        <section class="card biggerCard">

          <article class="card-body col-12">

       
            <section class="scoreFieldResult ">
              
              <p style="text-decoration: underline 2px;">Uw score</p>
              <p style="text-decoration: underline 2px red;"><%= score %></p>
              
              <section>
              <p>Uw highscore </p>
              <p><%= highScore %></p>
              </section>
            </section>

          </article>

          <section class="backToSelect"> <a href="/selection">Terug naar de selectionPage</a></section>
        </section>



      </section>
    </section>




  </main>

  <%- include("partials/footer") %>